@font-face {
  font-family: "Maison Neue Book";
  src: url("../fonts/MaisonNeue-Book.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Mono.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Mono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Bold.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("../fonts/MaisonNeue-Light.woff2") format("woff2"),
    url("../fonts/MaisonNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
