@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Black.eot');
    src: url('NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('NeueHaasDisplay-Black.woff2') format('woff2'),
        url('NeueHaasDisplay-Black.woff') format('woff'),
        url('NeueHaasDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('MaisonNeue-Regular.eot');
    src: url('MaisonNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Regular.woff2') format('woff2'),
        url('MaisonNeue-Regular.woff') format('woff'),
        url('MaisonNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}   

@font-face {
    font-family: 'Maison Neue light';
    src: url('MaisonNeue-Light.eot');
    src: url('MaisonNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Light.woff2') format('woff2'),
        url('MaisonNeue-Light.woff') format('woff'),
        url('MaisonNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue bold';
    src: url('MaisonNeue-Bold.eot');
    src: url('MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Bold.woff2') format('woff2'),
        url('MaisonNeue-Bold.woff') format('woff'),
        url('MaisonNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue italic';
    src: url('MaisonNeue-Italic.eot');
    src: url('MaisonNeue-Italic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Italic.woff2') format('woff2'),
        url('MaisonNeue-Italic.woff') format('woff'),
        url('MaisonNeue-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}   

@font-face {
    font-family: 'Maison Neue light italic';
    src: url('MaisonNeue-LightItalic.eot');
    src: url('MaisonNeue-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-LightItalic.woff2') format('woff2'),
        url('MaisonNeue-LightItalic.woff') format('woff'),
        url('MaisonNeue-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue bold italic';
    src: url('MaisonNeue-BoldItalic.eot');
    src: url('MaisonNeue-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-BoldItalic.woff2') format('woff2'),
        url('MaisonNeue-BoldItalic.woff') format('woff'),
        url('MaisonNeue-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue medium';
    src: url('MaisonNeue-Medium.eot');
    src: url('MaisonNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Medium.woff2') format('woff2'),
        url('MaisonNeue-Medium.woff') format('woff'),
        url('MaisonNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue medium italic';
    src: url('MaisonNeue-MediumItalic.eot');
    src: url('MaisonNeue-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-MediumItalic.woff2') format('woff2'),
        url('MaisonNeue-MediumItalic.woff') format('woff'),
        url('MaisonNeue-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Maison Neue thin';
    src: url('MaisonNeue-Thin.eot');
    src: url('MaisonNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Thin.woff2') format('woff2'),
        url('MaisonNeue-Thin.woff') format('woff'),
        url('MaisonNeue-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Maison Neue thin italic';
    src: url('MaisonNeue-ThinItalic.eot');
    src: url('MaisonNeue-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-ThinItalic.woff2') format('woff2'),
        url('MaisonNeue-ThinItalic.woff') format('woff'),
        url('MaisonNeue-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Maison Neue light bold';
    src: url('MaisonNeue-LightBold.eot');
    src: url('MaisonNeue-LightBold.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-LightBold.woff2') format('woff2'),      
        url('MaisonNeue-LightBold.woff') format('woff'),
        url('MaisonNeue-LightBold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Maison Neue light bold italic';
    src: url('MaisonNeue-LightBoldItalic.eot');
    src: url('MaisonNeue-LightBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-LightBoldItalic.woff2') format('woff2'),
        url('MaisonNeue-LightBoldItalic.woff') format('woff'),
        url('MaisonNeue-LightBoldItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue black';
    src: url('MaisonNeue-Black.eot');
    src: url('MaisonNeue-Black.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-Black.woff2') format('woff2'),
        url('MaisonNeue-Black.woff') format('woff'),
        url('MaisonNeue-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue black italic';
    src: url('MaisonNeue-BlackItalic.eot');
    src: url('MaisonNeue-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('MaisonNeue-BlackItalic.woff2') format('woff2'),
        url('MaisonNeue-BlackItalic.woff') format('woff'),
        url('MaisonNeue-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Lyon';
    src: url('Lyon-Book.eot');
    src: url('Lyon-Book.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Book.woff2') format('woff2'),
        url('Lyon-Book.woff') format('woff'),
        url('Lyon-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lyon bold';
    src: url('Lyon-Bold.eot');
    src: url('Lyon-Bold.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Bold.woff2') format('woff2'),
        url('Lyon-Bold.woff') format('woff'),
        url('Lyon-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon italic';
    src: url('Lyon-Italic.eot');
    src: url('Lyon-Italic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Italic.woff2') format('woff2'),
        url('Lyon-Italic.woff') format('woff'),
        url('Lyon-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon bold italic';
    src: url('Lyon-BoldItalic.eot');
    src: url('Lyon-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-BoldItalic.woff2') format('woff2'),
        url('Lyon-BoldItalic.woff') format('woff'),
        url('Lyon-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon medium';
    src: url('Lyon-Medium.eot');
    src: url('Lyon-Medium.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Medium.woff2') format('woff2'),
        url('Lyon-Medium.woff') format('woff'),
        url('Lyon-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon medium italic';
    src: url('Lyon-MediumItalic.eot');
    src: url('Lyon-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-MediumItalic.woff2') format('woff2'),
        url('Lyon-MediumItalic.woff') format('woff'),
        url('Lyon-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon thin';
    src: url('Lyon-Thin.eot');
    src: url('Lyon-Thin.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Thin.woff2') format('woff2'),
        url('Lyon-Thin.woff') format('woff'),
        url('Lyon-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lyon thin italic';
    src: url('Lyon-ThinItalic.eot');
    src: url('Lyon-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-ThinItalic.woff2') format('woff2'),
        url('Lyon-ThinItalic.woff') format('woff'),
        url('Lyon-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon light';
    src: url('Lyon-Light.eot');                 
    src: url('Lyon-Light.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Light.woff2') format('woff2'),
        url('Lyon-Light.woff') format('woff'),
        url('Lyon-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}   


@font-face {
    font-family: 'Lyon light italic';
    src: url('Lyon-LightItalic.eot');
    src: url('Lyon-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-LightItalic.woff2') format('woff2'),
        url('Lyon-LightItalic.woff') format('woff'),
        url('Lyon-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon light bold';
    src: url('Lyon-LightBold.eot');
    src: url('Lyon-LightBold.eot?#iefix') format('embedded-op   entype'),
        url('Lyon-LightBold.woff2') format('woff2'),
        url('Lyon-LightBold.woff') format('woff'),
        url('Lyon-LightBold.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {        
    font-family: 'Lyon light bold italic';
    src: url('Lyon-LightBoldItalic.eot');
    src: url('Lyon-LightBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-LightBoldItalic.woff2') format('woff2'),
        url('Lyon-LightBoldItalic.woff') format('woff'),
        url('Lyon-LightBoldItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon black';
    src: url('Lyon-Black.eot');
    src: url('Lyon-Black.eot?#iefix') format('embedded-opentype'),
        url('Lyon-Black.woff2') format('woff2'),
        url('Lyon-Black.woff') format('woff'),  
        url('Lyon-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}           

@font-face {
    font-family: 'Lyon black italic';
    src: url('Lyon-BlackItalic.eot');
    src: url('Lyon-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-BlackItalic.woff2') format('woff2'),
        url('Lyon-BlackItalic.woff') format('woff'),
        url('Lyon-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon ultra';
    src: url('Lyon-Ultra.eot');
    src: url('Lyon-Ultra.eot?#iefix') format('embedded-op       entype'),
        url('Lyon-Ultra.woff2') format('woff2'),
        url('Lyon-Ultra.woff') format('woff'),
        url('Lyon-Ultra.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Lyon ultra italic';
    src: url('Lyon-UltraItalic.eot');
    src: url('Lyon-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('Lyon-UltraItalic.woff2') format('woff2'),
        url('Lyon-UltraItalic.woff') format('woff'),
        url('Lyon-UltraItalic.ttf') format('truetype');
    font-weight: 1000;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Lyon ultra bold';
    src: url('Lyon-UltraBold.eot');
    src: url('Lyon-UltraBold.eot?#iefix') format('embedded  -opentype'),
        url('Lyon-UltraBold.woff2') format('woff2'),
        url('Lyon-UltraBold.woff') format('woff'),
        url('Lyon-UltraBold.ttf') format('truetype');
    font-weight: 1000;
    font-style: normal;
    font-display: swap;
}   

