
                                            /* max wiidth 1280px */

@media (max-width: 1280px) {
  header {
    padding: 15px 30px;
  }

  

  .main h1 {
    max-width: 300px;
  }

  .foot {
    padding-left: 100px;
  }

  nav ul {
    gap: 15px;
  }


  .hero-content {
    padding-top: 180px;
    max-width: 400px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .third h2 {
    font-size: 35px;
  }
}
                                             /* max wiidth 1024px */
@media (max-width: 1024px) {
  header {
    padding: 15px 30px;
  }

  .process-image img{
    position: static;
  }

  nav ul {
    gap: 15px;
  }

  .main h1 {
    max-width: 300px;
  }


  .hero-content {
    padding-top: 180px;
    max-width: 400px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .third h2 {
    font-size: 35px;
  }
}

                                                    /* max wiidth 768px */

      

@media (max-width: 768px) {
  header {
    flex-direction: row;
    padding: 15px;
    text-align: center;
  }
  .process-image img{
    position: static;
  }

  .menu-icon {
      position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
  }

  nav ul {
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  display: none;  
}

#menu.show {
  display: flex;
  flex-direction: column;
}

 .day-section {
        flex-direction: column;
      }
      .day-content {
        padding: 40px 20px;
      }
      .assist-text {
        font-size: 22px;
      }


  .fourth img {
    width: 100vw;
    height: 800px;
  }

  #menu-toggle:checked~nav ul {
    display: flex;
  }

  .menu {
    display: none;
  }

  nav ul {
    flex-direction: row;
    gap: 10px;
    margin-top: 25px;
    display: none;
  }

  .hero {
    padding: 0 20px;
    height: 70vh;
    text-align: center;
  }

  .hero-content {
    padding-top: 120px;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .third h2 {
    font-size: 28px;
    text-align: center;
  }

  .third p {
    text-align: center;
    margin: 0 auto;
  }

  .fourth img {
    position: relative;
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-middle,
  .footer-right {
    padding: 20px 0 0 0;
  }
}
                                                   /* max wiidth 480px */

@media (max-width: 425px) {
  header h1 strong {
    font-size: 20px;
  }

    .content {
      font-size: 20px;
      overflow: hidden;
      
    }
.process-image img{
    position: static;
  }
  .text {
    padding: 30px;
    margin-left: auto;

  }

  .menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    padding-bottom: 90px;
    padding-left: 30px;

  }

  #menu-toggle:checked~nav ul {
    display: flex;
  }


  nav {
    position: relative;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    background-color: white;
    color: #0d1a3b;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  header h1 span {
    font-size: 12px;
  }

  .hero h2 {
    font-size: 22px;
  }

  #menu {
    display: none;
  }

  .hero h6 {
    font-size: 14px;
  }

  .hero-buttons a {
    padding: 8px 16px;
    font-size: 12px;
  }

  .cta p {
    font-size: 20px;
  }

  .foot h2,
  h6 {
    font-size: 20px;
  }

  .fourth {
    font-size: 10px;
    max-width: 100%;
  }
}
  

                                                       /* max wiidth 320px */

@media (max-width: 320px) {
  header h1 strong {
    font-size: 15px;
  }

  .menu-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    padding-bottom: 90px;
    padding-left: 30px;

  }
.process-image img{
    position: static;
  }
  #menu-toggle:checked~nav ul {
    display: flex;
  }

  .fourth {
    padding-right: 20px;
  }

  .foont {
    text-align: center;
    font-size: 10px;
  }

  .foont h2 {
    font-size: 20px;
  }

  #menu-toggle {
    display: none;
  }

  .menu-icon {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
}