@media (max-width:1920px) {
  .menu-btn {
    display: none;
  }
}

@media (max-width: 1024px) {
  .menu {
    position: absolute;
    width: 100%;
    left: 0;
    top: var(--headerHeight);
    background-color: black;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease-in-out;
  }

  .menu.active {
    opacity: 1;
    visibility: visible;
  }

  .menu-btn-close {
    display: none;
  }

  .menu-btn {
    display: block;
    color: black;
  }

  .menu.active {
    padding-top: 100px;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 100vw;
    height: 50vh;

  }
.menu.active{
  color: white;
}
  .menu {
    display: none;
  }

  .menu li {
    margin: 15px 0px;
  }

  .menu li .hover-text {
    color: var(--white);
  }

  .menu li:not(:first-child) {
    margin-left: 0px;
  }

  .menu li {
    padding: 10px 0px;
  }

  .toggle-menu {
    display: flex;
  }

  .main-title {
    font-size: 45px;
  }

  .slider-title {
    padding: 10px;
    font-size: 35px;
  }

  .process-content-imges {
    grid-template-columns: repeat(1, 1fr);
  }

  .process-imges {
    position: static;
    order: 1;
    width: 100%;
  }

  .process-content {
    order: 2;
  }

  .studies-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .mediation-content-imges {
    grid-template-columns: repeat(1, 1fr);
  }

  .mediation-imges {
    width: 100%;
  }

  .mediation-imges {
    position: static;
    left: 0;
    top: 0;
    bottom: 0;
  }

  .frequently-content {
    width: 100%;
    margin: 10px;
  }

  .big-bg {
    position: static;
  }

  .big-bg img {
    width: calc(100% + 32px);
    height: 420px;
    margin: 0px -16px;
  }

  .Case-big-imges {
    height: 100%;
  }

  .tow-colum-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .menu a{
    color: white;
  }
  .all-button{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .main-title {
    font-size: 30px;
  }

  .mediation-title {
    font-size: 35px;
  }

  .mediation-paragraph {
    width: 100%;
  }

  h2 {
    font-size: 35px;
  }

  .studies-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .slider-title {
    font-size: 25px;
  }

  .header-logo img {
    width: 87%;
  }

  .img-title {
    font-size: 15px;
  }

  .input-box {
    flex-direction: column;
  }

  .consider-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .consider-title {
    max-width: 100%;
  }

  .menu-btn-close {
    display: block;
  }
}


@media (max-width: 375px){
  .grid-box{
    display :flex;
    flex-direction: column;
  }
  .all-button{
    margin: 0%;
margin-bottom:30px ;
  }
  .studies-contact-box{
    display: flex;
    flex-direction:column ;
  }
  .banner-content{
    padding: 255px 0px 257px 30px;;
  }
  .silder-box{
    display: flex;
    flex-direction: column;
  }
  .conatct-grids{
    flex-direction: column;
  }
  .menu-btn-close{
    color: white;
  }
  .menu-btn-close{
    display: none;
  }
}