:root {
  --bg-color-light: #eceded;
  --bg-color-dark: #192647;
  --primary-text: #192647;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Maison Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0px 16px;
}




header {
  background: white;
}

.img-title {
  font-size: 12px;
  color: var(--primary-text);
}


.menu a {
  font-size: 14px;
  color: var(--primary-text);
  width: fit-content;
}

.menu .hover-text {
  font-size: 14px;
  color: var(--primary-text);
  padding-bottom: 5px;
}

.toggle-menu {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.toggle-menu {
  display: none;
  margin: 10px;
}

.header-change {
  box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.529);
}

/* Header end */

.banner {
  background: url(../images/section/Banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner-content {
  height: 100vh;
  padding: 255px 0px 257px 150px;
}

.banner-title {
  font-size: 14px;
  color: #efefef;
  padding-bottom: 20px;
  text-transform: uppercase;
  display: inline-block;
}

.main-title {
  color: #f8f8f8;
  max-width: 606px;
  padding-bottom: 27px;
}

.banner a {
  display: inline-block;
  margin: 10px 0px;
}

/* Banner end */

.slider {
  background-color: var(--bg-color-dark);
  padding: 100px 0px;
}

.Open-Quote {
  padding: 20px;
  color: #efefef;
}

.Open-Quote svg {
  width: 46px;
  height: 46px;
}

.slider-title {
  text-align: center;
  color: var(--white);
  padding: 0px 350px;
  width: 100%;

}

.year {
  color: rgba(255, 255, 255, 0.313);
  padding: 40px;
}

.testimonial-item {
  text-align: center;
}

.slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.slider .slick-dots li button {
  color: transparent;
  width: 28px;
  height: 2px;
  border: none;
  background-color: rgba(255, 255, 255, 0.326);
}

.slider .slick-dots li {
  display: inline-block;
  height: 1px;
}

.slider .slick-dots .slick-active button {
  background-color: #f5f5f5;
}

/* Slick silder end */

.mediation {
  padding: 100px 0px;
  background-color: var(--white);
}

img {
  width: 100%;
}

.display {
  display: flex;
}

.aling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.conatct-grids {
  display: flex;
  justify-content: space-between;
}

.menu-btn-close {
  display: none;
}

.mediation-tag {
  color: #7070707a;
  font-size: 15px;
  padding-bottom: 40px;
  display: inline-block;
}

.mediation-title {
  color: var(--primary-text);
  max-width: 920px;
  padding-bottom: 30px;
}

.mediation-paragraph {
  color: #192647a8;
  font-size: 20px;
  max-width: 740px;
  padding-bottom: 40px;
}

/* Mediation end */

.process {
  padding: 100px 0px;
  background-color: #f8f8f8;
  position: relative;
}

.process-tag {
  color: #7070707a;
  font-size: 16px;
  padding-bottom: 30px;
  display: inline-block;
}

.process-title {
  color: var(--primary-text);
  max-width: 443px;
  padding-bottom: 45px;
}

.process-content-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.process-box-title {
  color: var(--primary-text);
  font-size: 20px;
}

.process-paragraph {
  font-size: 16px;
  color: #1926479b;
  max-width: 540px;
  padding-top: 38px;
  display: none;
}

.silder-box {
  display: flex;
  text-align: center;
  width: 100%;
  flex-direction: row;
  overflow: scroll;
}

.process-box {
  border: 1px solid #7070702e;
  border-left: 0;
  border-right: 0;
  padding: 20px 0px;
}

.justify {
  justify-content: space-around;
  gap: 5px;
}

.justify-center {
  justify-content: center;
}

.process-imges {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}

.process-imges img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arow {
  border: 1px solid rgba(0, 0, 0, 0.089);
  padding: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Process end */

.studies {
  padding: 100px 0px;
  background-color: var(--white);
}

.studies-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 30px 0px;
}

.studies-tag {
  color: var(--primary-text);
  font-size: 14px;
  padding: 20px 0px;
}

.studies-sub-title {
  color: #0000007d;
  font-size: 16px;
  padding: 20px 32px;
  padding-top: 29px;
  display: inline-block;
}

.studies-title {
  color: #192647ea;
  max-width: 302px;
  padding: 0px 32px;
  padding-top: 7px;
}

.right-arow {
  border: 1px solid rgba(0, 0, 0, 0.359);
  display: inline-flex;
  border-radius: 50px;
  padding: 10px;
  margin: 30px;
  margin-top: 20px;
  cursor: pointer;
}

.right-arow:hover {
  background: var(--bg-color-dark);
  color: var(--white);
}

.card {
  border: 1px solid #6a6060;
}

.studies-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* studies end */

.dispute {
  padding: 100px 0px;
  background-color: var(--bg-color-light);
}

.dispute-title {
  color: #1c2645;
  max-width: 576px;
  padding-bottom: 26px;
}

/* dispute end */
.main-div {
  position: relative;
  z-index: 2;
}

footer {
  padding: 70px 0px;
  background: url(../images/section/pvr.svg);
  background-repeat: no-repeat;
  background-color: var(--bg-color-dark);
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 70px;
  align-items: center;
}

.footer-menu li:not(:first-child) {
  padding: 30px 10px;
}

.footer-menu li {
  padding: 30px 0px;
}

.footer-menu li a {
  color: var(--white);
}

.footer-img {
  display: flex;
  gap: 50px;
  align-items: center;
}

.civil-img {
  display: inline-flex;
  flex-direction: column;
  width: 30%;
}

.civil-img img {
  width: 90px;
}

.sub {
  color: var(--white);
  font-size: 16px;
  padding: 30px 0px;
}

.footer-para {
  color: rgba(255, 255, 255, 0.418);
  width: 100%;
}

/* footer end */

/* mediation- end */

.mediation-about {
  padding: 100px 0px;
  background-color: var(--bg-color-dark);
  position: relative;
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  padding: 16px 20px;
}

.btn-primary {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: var(--bg-color-dark);
  color: var(--white);
}

.btn-primary:hover {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.btn-main {
  border: 1px solid black;
  padding-bottom: 10px;
  background-color: var(--bg-color-dark);
  color: var(--white);
}

.btn-main:hover {
  border: 1px solid var(--bg-color-dark);
  background-color: transparent;
  color: var(--primary-text);
}

.btn-secondary {
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
  border-radius: 20px;
}

.btn-secondary:hover {
  border: 1px solid transparent;
  background-color: var(--bg-color-dark);
  color: var(--white);
}

.btn-header {
  background-color: #f8f8f8;
  border: 1px solid #ebebeb;
}

.btn-header:hover {
  background-color: var(--bg-color-dark);
  border: 1px solid transparent;
  color: var(--white);
}



.mediation-content-imges {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 92px;
  align-items: center;
  color: var(--white);
}

.ma-subtitle {
  color: var(--white);
  font-size: 14px;
  padding-bottom: 10px;
  display: inline-block;
}

.ma-title {
  color: var(--white);

  padding-bottom: 45px;
}

.ma-paragraph {
  color: #f8f8f88e;
  padding: 20px 0px;
  line-height: 1.6;
}

.paragraph-box {
  padding-bottom: 50px;
}

.mediation-imges {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.mediation-imges {
  width: 48%;
}

.mediation-imges img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* mediation-about */

.frequently {
  padding: 100px 0px;
  background-color: var(--white);
}

.frequently-title {
  color: var(--primary-text);
  font-weight: 200;
  max-width: 100%;
  padding: 55px 0px;
}

.frequently-paragraph {
  font-size: 16px;
  color: #1926479b;
  line-height: 1.37;
  max-width: 100%;
  padding: 10px 0px;
}

.frequently-content {
  margin: 10px auto;
}

/* frequently end  */

.contact {
  padding: 100px 0px;
  background-color: #f8f8f8;
}

.conatct-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.contact-form {
  grid-column: 2/4;
  grid-column-start: 2;
}

.touch {
  color: var(--primary-text);
  padding-bottom: 50px;
  font-weight: 200;
}

.contact-title {
  font-size: 14px;
  color: var(--primary-text);
  padding-bottom: 40px;
}

.contact-number {
  font-size: 14px;
  color: #192647e8;
  padding: 28px 0px;
  display: inline-block;
}

.conatct-paragraph {
  font-size: 14px;
  max-width: 159px;
  color: var(--primary-text);
  line-height: 1.4;
  padding: 9px 0px;
}

.small-tag {
  font-size: 10px;
  color: #707070;
  padding: 5px 0px;
  display: block;
}

.contact-linkdin {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  border: 1px solid #ebebeb;
  margin: 10px 0px;
}

.contact-linkdin svg {
  background-color: transparent;
  color: black;
}

input,
textarea,
select {
  font-size: 14px;
  color: #707070;
  padding: 5px;
}

.contact-form input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
  padding: 14px;
  width: 100%;
  max-width: 390px;
  height: 48px;
  outline: none;
  border: 1px solid #ebebeb97;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.contact-form textarea {
  max-width: 800px;
  height: 120px;
  border-radius: 20px;
}

.studies-contact {
  padding: 60px 0px;
  background-color: #f8f8f8;
}

.studies-contact-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}

/* contact-pages end */

.consider-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.consider {
  background: var(--bg-color-light);
  padding: 100px 0px;
}

.consider-subtitle {
  font-size: 14px;
  color: #7070707d;
  padding: 10px 0px;
  text-transform: uppercase;
  display: block;
}


a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.consider-title {
  color: var(--primary-text);
  max-width: 90%;
  padding: 50px 0px;
}

.box-title {
  font-size: 14px;
  color: #1c2645;
  padding: 20px 0px;
  border-bottom: 1px solid #70707039;
  margin: 20px 10px;
}

.consider-paragraph {
  font-size: 16px;
  color: var(--primary-text);
  padding: 20px 0px;
  line-height: 1.6;
  font-weight: 200;
}

.consider ul li {
  list-style: disc;
  font-size: 16px;
  color: #192647c7;
  padding: 10px 15px;
  line-height: 1.6;
  font-weight: 200;
}

/* consider end */

.case-title {
  color: #1926473a;
}

.Case-Studies-imges {
  background-color: var(--white);
}

.all-button {
  margin: 50px 0px;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}

.btn-main {
  border-radius: 20px;
}

.imges-button {
  margin: 80px 0px;
}

/* Case-studies-end */

.Case-big-imges {
  position: relative;
  max-width: 100%;
  height: 100vh;
  background-color: var(--white);
}

.big-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.big-banner img {
  width: 85%;
  height: 100%;
  object-fit: cover;
}

/* big-banner end */

.dispute-feeling {
  padding-bottom: 100px;
  background-color: var(--white);
}

.tow-colum-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first-colum-box {
  grid-column: 1/3;
}

.first-colum-title {
  color: var(--primary-text);
  font-weight: 200;
  max-width: 720px;
  padding: 20px 0px;
}

.first-colum-paragraph {
  color: #1926479e;
  font-weight: 200;
  line-height: 1.6;
  padding: 25px 0px;
  max-width: 745px;
  font-size: 16px;
}

.second-colum-subtitle {
  color: #707070;
  font-weight: 900;
  font-size: 14px;
  padding: 12px 0px;
  display: block;
  margin: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.105);
  max-width: 100%;
}

.dispute-feeling .content-box {
  margin: 30px 0px;
}

.general-title {
  color: #1c2645;
  padding: 15px 0px;
  font-size: 14px;
}

.general-paragraph {
  font-size: 14px;
}



.our-solution {
  padding: 100px 0px;
  background-color: #f8f8f8;
}

.our-box {
  display: grid;
  justify-content: center;
}

.extra-width {
  max-width: 848px;
}



.font-supporter {
  font-size: 35px;
}



.faqs-point {
  background-color: #f8f8f8;
  padding: 100px 0px;
}

.btn-last {
  color: var(--primary-text);
  border: 1px solid #ebebeb;
  border-radius: 20px;
}

.btn-last:hover {
  background-color: var(--bg-color-dark);
  border: 1px solid transparent;
  color: var(--white);
}

.btn-text {
  color: inherit;
  font-size: 20px;
}

.btn-text:hover {
  color: inherit;
  font-size: 20px;
  background-color: transparent;
}


.faqs-title {
  color: var(--primary-text);
  font-weight: 200;
  text-align: center;
  max-width: 850px;
  padding: 50px 0px;
}

.faqs-paragraph {
  color: var(--primary-text);
  line-height: 1.6;
  font-weight: 200;
  max-width: 850px;
  padding-bottom: 50px;
}

.faqs-box {
  display: grid;
  justify-content: center;
}

.faqs-point input {
  width: 100%;
  max-width: 747px;
  height: 48px;
  outline: none;
  border: 2px solid #71717178;
  background-color: #f8f8f8;
  padding: 14px;
}

.searching-box {
  display: flex;
  padding-bottom: 80px;
}

/* faqs end */

.privacy {
  padding: 100px 0px;
  background-color: #f8f8f8;
}

.sub-p-t {
  color: #1f2133;
  font-size: 24px;
  font-weight: 500;
  padding: 8px 0px;
}

.mini-sub-title-p-t {
  color: #1f213392;
  font-size: 24px;
}

.privacy .main-title {
  color: var(--primary-text);
  padding: 10px 0px;
}

.privacy-paragraph {
  color: #707070;
  line-height: 1.6;
  font-weight: 200;
  padding: 10px 0px;
}

.main-title-terms {
  color: var(--primary-text);
  padding: 10px 0px;
  font-size: 30px;
  font-weight: 200;
}

.privacy-colum-1 {
  margin: 32px 0px;
}

.arow.active svg {
  transform: rotate(180deg);
}

.arow svg {
  transform: rotate(0deg);
}

.top-up-btn {
  color: var(--white);
  background-color: blue;
  width: 60px;
  height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  border-radius: 50%;
  border: 1px solid transparent;
  right: 1%;
  z-index: 3;
}

.top-up-btn:hover {
  color: black;
  background-color: rgba(245, 245, 245, 0.644);
}